@page
@model Sklep3.Pages.Pracownik.Zamowienia.IndexModel
@{
	string lastId = null; // Przechowuje ostatnie wyświetlone ID
}

<br />
<h2>Lista Zamówień</h2>
<a class="btn btn-primary btn-sm" href="/Pracownik">Powrót</a>

<form method="get" id="filterForm">
	<!--Filtr stanu-->
	<label for="stan">Filtruj według stanu zamówienia:</label>
	<select id="stan" name="stan" class="form-select form-select-sm">
		<option value="">Wszystkie</option>
		@{
			foreach (var stan in Model.stany.slownik)
			{
				if (stan == Model.aktualnyStan)
				{
					@:
					<option value="@stan" selected>@stan</option>
				}
				else
				{
					@:
					<option value="@stan">@stan</option>
				}
			}
		}
	</select>

	<!--Sortowanie-->
	<label for="sortowanie">Sortowanie:</label>
	<select id="sortowanie" name="sortowanie" class="form-select form-select-sm">
		@{
			var sort = new List<string> { "ID_zamowienia", "Nazwa_produktu", "Adres", "Data" };
			foreach (var opcja in sort)
			{
				if (opcja == Model.aktualneSortowanie)
				{
					@:
					<option value="@opcja" selected>@opcja</option>
				}
				else
				{
					@:
					<option value="@opcja">@opcja</option>
				}
			}
		}
	</select>

	<!--Kierunek sortowania-->
	<select id="kierunek" name="kierunek" class="form-select form-select-sm">
		@{
			var kier = new List<string> { "Rosnąco", "Malejąco" };
			foreach (var opcja in kier)
			{
				if (opcja == Model.aktualnyKierunekSortowania)
				{
					@:
					<option value="@opcja" selected>@opcja</option>
				}
				else
				{
					@:
					<option value="@opcja">@opcja</option>
				}
			}
		}
	</select>

	<button type="submit" class="btn btn-primary btn-sm">Filtruj</button>
</form>

<table class="table">
	<thead>
		<tr>
			<th>ID Zamówienia</th>
			<th>Nazwa produktu</th>
			<th>Ilość</th>
			<th>Stan</th>
			<th>Adres</th>
			<th>Data</th>
			<th>Akcje</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ZamowieniaLista)
		{
			<tr>
				@if (lastId != item.id)
				{

					<td>@item.id</td>
					<td>@item.nazwaProduktu</td>
					<td>@item.ilosc</td>
					<td>@item.stan</td>
					<td>@item.adres</td>
					<td>@item.data</td>
					<td>
						<a class="btn btn-outline-primary btn-sm" href="/Pracownik/Zamowienia/Edit?id=@item.id">Edytuj</a>
						<a class="btn btn-outline-danger btn-sm" href="/Pracownik/Zamowienia/Delete?id=@item.id">Usuń</a>
					</td>
					lastId = item.id; // Zaktualizuj ostatnie ID
				}
				else
				{
					<td></td>
					<td>@item.nazwaProduktu</td>
					<td>@item.ilosc</td>
					<td></td>
					<td></td>
					<td></td>
				}
            </tr>
        }
    </tbody>
</table>
