@page
@model Sklep3.Pages.Klient.Index1Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
}
<br />
<h2>Koszyk</h2>
<a class="btn btn-primary btn-sm" href="/Klient">Wróć</a>
<a class="btn btn-primary btn-sm" href="/Klient">Zlóż zamówienie</a>
<table class="table">
	<thead>
		<tr>
			<th>Nazwa</th>
			<th>Ilosc</th>
			<th>Kategoria</th>
			<th>Platforma</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.ProduktyWKoszykuLista)
		{
			<tr>
				<td>@item.nazwa</td>
				<td>@item.ilosc</td>
				<td>@item.kategoria</td>
				<td>@item.platforma</td>
				<td>@item.cena</td>
				<td>
					<a class="btn btn-outline-success btn-sm" href="/Klient/DeleteCart?id=@item.id">Usuń z koszyka</a>
				</td>
			</tr>
		}
	</tbody>
</table>
