@page
@model Sklep3.Pages.Klient.IndexModel
@{
}

<br />
<div class="d-flex justify-content-between align-items-center mb-4">
	<h2>Lista Produktów</h2>
	<a class="btn btn-primary" href="/Klient/Cart">
		<i class="fas fa-shopping-cart"></i> Koszyk
	</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Nazwa</th>
			<th>Ilość</th>
			<th>Kategoria</th>
			<th>Platforma</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.ProduktyLista)
		{
			<tr>
				<td>@item.nazwa</td>
				<td>@item.ilosc</td>
				<td>@item.kategoria</td>
				<td>@item.platforma</td>
				<td>@item.cena</td>
				<td>
					<a class="btn btn-outline-success btn-sm" href="/Klient/ToCart?id=@item.id">Do koszyka</a>
				</td>
			</tr>
		}
	</tbody>
</table>
