@page
@model Sklep3.Pages.Klient.IndexModel
@{
}

<br />
<h2>Lista Produktów</h2>
<a class="btn btn-primary btn-sm" href="/Klient/Cart">Koszyk</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nazwa</th>
			<th>Ilosc</th>
			<th>Kategoria</th>
			<th>Platforma</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.ProduktyLista)
		{
			<tr>
				<td>@item.id</td>
				<td>@item.nazwa</td>
				<td>@item.ilosc</td>
				<td>@item.kategoria</td>
				<td>@item.platforma</td>
				<td>@item.cena</td>
				<td>
					<a class="btn btn-outline-success btn-sm" href="/Klient/ToCart?id=@item.id">Do koszyka</a>
				</td>
			</tr>
		}
	</tbody>
</table>
